# Conector MySql

Este es uno de los tantos conectores de MySql que están dando vueltas. Está bueno que vean otros (hay una tarea sobre esto)  

Para instalar los módulos necesarios para usar este conector, debemos hacer:

> pip install mysql-connector-python  

Y ahora, varios ejemplos sin teoría porque seguramente conocen el paño!

In [ ]:
#Conexión
import mysql.connector

conex = mysql.connector.connect(user='root', password='cursopython',host='localhost')
print(conex)
conex.close()

In [ ]:
#Manejo de excepciones
import mysql.connector
from mysql.connector import errorcode

try:
    base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
    
except mysql.connector.Error as err:
    # el error tiene un número. Puedo usarlo, pero es más clarito usar la tabla de errorcode
    if err.errno==errorcode.ER_ACCESS_DENIED_ERROR:
        print("Problemas de acceso por user o pass")
    elif err.errno==errorcode.ER_BAD_DB_ERROR:
        print("No existe la base")
    elif err.errno== 2003: #Podemos comparar con el número. Mejor hubiera sido errorcode.
        print("No se pudo conectar al servidor")
    else:
        print(err)
    
else:
    print(base)
    base.close()

In [ ]:
#Recorrido de las bases de datos
import mysql.connector

base = mysql.connector.connect(user='root', password='cursopython',host='localhost')
cursor=base.cursor()
cursor.execute("SHOW DATABASES")
for elem in cursor:
    print(elem)
base.close()

In [ ]:
#Recorrido de las tablas de una base
import mysql.connector

#Aquí indiqué a qué base en particular me estoy conectando
base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
cursor.execute("SHOW TABLES")
for elem in cursor:
    print(elem)
base.close()

In [ ]:
#Creación de una tabla (en realidad, lanzamiento de cualquier consulta SQL)
import mysql.connector

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
cursor.execute("CREATE TABLE notas3 (idAlu INT(11), idMat INT(11), fecha DATE, nota INT(2))")
base.close()

In [ ]:
#Inserción de registros mediante tupla
import mysql.connector
from datetime import date

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
insv1="INSERT INTO alumnos (Apellido, Nombres, fechanac) VALUES (%s, %s, %s)"
data=("Martinez137", "Jorge137", date(1960, 12, 25))
cursor.execute(insv1, data)
base.close()

In [ ]:
# Recorrer resultado de un select
import mysql.connector

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
cursor.execute("Select * from alumnos")

# for elem in cursor:
#      print(elem)
# ---------------------------
# row = cursor.fetchone()
# while row:
#     print(row)
#     row = cursor.fetchone()
# --------------------------
resultado= cursor.fetchall()
print(resultado)

cursor.close()
base.close()

In [ ]:
#Inserción de registros mediante diccionario
import mysql.connector
from datetime import date

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
insv1="INSERT INTO alumnos (Apellido, Nombres, fechanac) VALUES (%(Apellido)s, %(Nombres)s, %(fechanac)s)"
data={"Apellido": "Gutierrez137", "Nombres":"Juan Carlos137", "fechanac":date(1940, 4, 22)}
cursor.execute(insv1, data)
print(cursor.lastrowid)
base.close()

In [17]:
# Recorrer resultado de un select, levantando en el for directamente los campos
import mysql.connector

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
cursor.execute("Select * from alumnos")
for id, apellido, nombres, nacim in cursor:
    print(f"{nombres} {apellido} es el alumno nro {id} y nació el {nacim}")

base.close()

Gonzalo Zabala es el alumno nro 1 y nació el 1970-05-11
Clara Lopez es el alumno nro 2 y nació el 1980-05-23
María Perez es el alumno nro 3 y nació el None
Jorge Martinez es el alumno nro 4 y nació el 1990-09-22
Juan Carlos Gutierrez es el alumno nro 5 y nació el 1960-11-02
Juan Carlos Gutierrez es el alumno nro 6 y nació el 1960-11-02
Jorge2 Martinez2 es el alumno nro 7 y nació el 1980-09-22
Juan Carlos3 Gutierrez3 es el alumno nro 8 y nació el 1950-11-02
Juan Carlos3 Gutierrez3 es el alumno nro 9 y nació el 1950-11-02
Juan Carlos3 Gutierrez3 es el alumno nro 10 y nació el 1950-11-02
Jorge137 Martinez137 es el alumno nro 11 y nació el 1960-12-25
Juan Carlos137 Gutierrez137 es el alumno nro 12 y nació el 1940-04-22

In [21]:
# Parametrizar la condición
import mysql.connector

base = mysql.connector.connect(user='root', password='cursopython',host='localhost',database='personal')
cursor=base.cursor()
consulta="Select * from alumnos where fechanac between %s and %s"
inicio=date(1958, 1, 1)
fin=date(1972, 12, 31)
cursor.execute(consulta, (inicio, fin))
for id, apellido, nombres, nacim in cursor:
    print(f"{nombres} {apellido} es el alumno nro {id} y nació el {nacim}")

base.close()

Gonzalo Zabala es el alumno nro 1 y nació el 1970-05-11
Juan Carlos Gutierrez es el alumno nro 5 y nació el 1960-11-02
Juan Carlos Gutierrez es el alumno nro 6 y nació el 1960-11-02
Jorge137 Martinez137 es el alumno nro 11 y nació el 1960-12-25

Hacemos una base en db4free para probar cada uno desde sus casas.
Mostrar ejemplo de uso con with.